<ul class="navigation navigation-main navigation-accordion">

  <li class="navigation-header"><span>Produtos</span> <i class="icon-menu" title="Produtos"></i></li>

  <li routerLinkActive="active"><a routerLink="/dashboard"><i class="icon-home4"></i> <span>Home</span></a></li>
  <li routerLinkActive="active"><a routerLink="/operadoras"><i class="fa fa-hospital-o"></i> <span>Operadoras</span></a></li>
  <li routerLinkActive="active"><a routerLink="/produtos"><i class="icon-package"></i> <span>Produtos</span></a></li>
  <li routerLinkActive="active"><a routerLink="/planos"><i class="fa fa-heartbeat"></i> <span>Planos</span></a></li>

</ul>
